.jumbotron {
  margin-bottom:  80px;
  background-image: url( "../img/rollingdice.gif");
  color: white
}
.container {
  background-color: #0e1011;
}
button {
  margin-bottom: 200px;
}
form {
  color: white;
}
